<!-- Let's output the three variables passed to this template -->

<div class="row">
    {% for image in images %}
        <div class="col-lg-4 mb-2">
            <img class="img-fluid img-thumbnail w-100 h-100" src="{{image}}" alt="">
        </div>
    {% endfor %}    
</div>
